﻿@model WebBanSach.Models.Data.Sach

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div style="float:left; margin-right:15px; margin-left:80px;" class="span5">
        <img src="/images/@Model.AnhBia" alt="@Model.AnhBia" title="@Model.TenSach" width="250" height="360" />
    </div>
    <div style="max-width:600px; float:left;" class="span7">
        <h2>@Model.TenSach</h2>
        <h4 class="muted">Thể loại: @Model.TheLoai.TenLoai - Tác giả: @Model.TacGia.TenTG</h4>
        <p>Nhà xuất bản: @Model.NhaXuatBan.TenNXB</p>
        <p>@Model.Mota</p>
        <hr />
        <p>Tình trạng: @(Model.SoLuongTon > 0 ? "Còn hàng" : "Liên hệ")</p>
        @*<h3>Giá: @(Model.GiaBan > 0 ? Model.GiaBan.Value.ToString("N0") + " VND" : "Liên hệ")</h3>*@
        <h3>
            @if (Model.GiaBanGoc > Model.GiaBan)
            {
                <span style="text-decoration: line-through; color: gray;">
                    Giá gốc: @Model.GiaBanGoc.Value.ToString("N0") VND
                </span>
                <br />
                <span style="color: red; font-weight: bold;">
                    Giá chỉ còn: @Model.GiaBan.Value.ToString("N0") VND
                </span>
            }
            else
            {
                <span style="color: red; font-weight: bold;">
                    Giá: @(Model.GiaBan > 0 ? Model.GiaBan.Value.ToString("N0") + " VND" : "Liên hệ")
                </span>
            }
        </h3>
        <br />
        <p>
            <a href="#" class="btn btn-warning btn-large add-to-cart" data-id="@Model.MaSach">THÊM VÀO GIỎ HÀNG</a>
        </p>
    </div>
</div>

<hr />
<h3>Sách bán chạy</h3>
<div class="row">
    @Html.Action("FavoriteBook", "Book")
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
        $(document).ready(function () {
            $('.add-to-cart').on('click', function (e) {
                e.preventDefault(); // Prevent default link behavior
                var maSach = $(this).data('id');
                var quantity = 1;

                $.post('/Cart/Add', { id: maSach, quantity: quantity }, function (response) {
                    if (response.success) {
                        alert('Đã thêm "' + '@Model.TenSach' + '" vào giỏ hàng! Tổng tiền: ' + response.total.toLocaleString('vi-VN') + ' VND');
                        //update cart count - after click mua
                        var cartCount = response.cartCount;
                        $('.cart-count').text(response.itemCount)
                            .removeClass('badge-secondary')
                            .addClass(response.itemCount > 0 ? 'badge-primary' : 'badge-secondary')
                    } else {
                        alert(response.message);
                    }
                }).fail(function (xhr, status, error) {
                    alert('Lỗi kết nối đến server: ' + error);
                });
            });
        });
</script>