@model IEnumerable<WebBanSach.Models.Data.Sach>

@foreach (var item in Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a title="@item.TenSach" href="/Book/Details/@item.MaSach">
                <img src="/images/@item.AnhBia" alt="@item.AnhBia" width="180" height="250" />
            </a>
            <div class="caption">
                <h4>
                    <a title="@item.TenSach" href="/Book/Details/@item.MaSach" style="color:#087BB0;">
                        @(item.TenSach.Length > 26 ? item.TenSach.Substring(0, 22) + "..." : item.TenSach)
                    </a>
                </h4>
                <a class="btn btn-warning add-to-cart" href="#" data-id="@item.MaSach" data-name="@item.TenSach">Mua hàng</a>
                @*@if (item.GiaBan > 0)
                    {
                        <h4 class="pull-right" style="color:black;">@item.GiaBan.Value.ToString("N0") VND</h4>
                        //<h4 class="pull-right" style="color:red;">Giá gốc: @item.GiaBanGoc.Value.ToString("N0") VND<br />Giá giảm: @item.GiaBan.Value.ToString("N0") VND</h4>
                    }
                    else
                    {
                        <h4 class="pull-right" style="color:red;">Liên hệ</h4>
                    }*@
                @if (item.GiaBan.HasValue && item.GiaBan > 0)
                {
                    <h4 class="pull-right" style="color:red;">
                        <span style="text-decoration: line-through; color: gray;">
                            Giá gốc: @(item.GiaBanGoc.HasValue ? item.GiaBanGoc.Value.ToString("N0") + " VND" : "Chưa có giá")
                        </span>
                        <br />
                        <span style="font-weight: bold;">
                            Giá chỉ còn: @item.GiaBan.Value.ToString("N0") VND
                        </span>
                    </h4>
                }
                else
                {
                    <h4 class="pull-right" style="color:red;">Liên hệ</h4>
                }
            </div>
        </div>
    </div>
}

@section jsFooter {
    <script>
        $(document).ready(function () {
            $('.add-to-cart').on('click', function (e) {
                e.preventDefault();
                var maSach = $(this).data('id');
                var bookName = $(this).data('name');
                var quantity = 1;

                if (!maSach) {
                    alert('Lỗi: Không tìm thấy MaSach');
                    return;
                }

                $.post('/Cart/Add', { id: maSach, quantity: quantity }, function (response) {
                    if (response.success) {
                        alert('Đã thêm "' + bookName + '" vào giỏ hàng! Tổng tiền: ' + response.total.toLocaleString('vi-VN') + ' VND');
                    } else {
                        alert(response.message);
                    }
                }).fail(function (xhr, status, error) {
                    console.error('AJAX Error:', status, error, xhr.responseText);
                    alert('Lỗi kết nối đến server: ' + error);
                });
            });
        });
    </script>
}